# Website packaging
_site
.sass-cache
.jekyll-metadata
vendor
Gemfile.lock

# Editor files
.gitpod.yml
.DS_Store
/.idea

# Secrets
.vercel

# html proofer
tmp

# obsidian
.obsidian

# devcontainer
.devcontainer