title: Pactus Improvement Proposals
description: >-
  PIPs define standards, promoting Pactus platform's growth, interoperation, and developer efficiency.
url: "https://pips.pactus.org"
baseurl: ""
github_username:  pactus-project
repository: pactus-project/PIPs

header_pages:
 - all.html
 - core.html
 - networking.html
 - interface.html
 - pip.html
 - meta.html
 - informational.html

highlighter: rouge
markdown: kramdown
theme: minima
kramdown:
  parse_block_html: false
  auto_ids: true
  auto_id_stripping: true
  syntax_highlighter: rouge

permalink: /:slug

defaults:
  -
    scope:
      path: "PIPs"
    values:
      layout: "pip"

exclude:
  - .github
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - pip-template.md
  - ISSUE_TEMPLATE.md
  - PULL_REQUEST_TEMPLATE.md
  - README.md
  
include:
  - LICENSE

markdown_ext: "markdown,mkdown,mkdn,mkd,md"
