title: Pactus Improvement Proposals
description: >-
  PIPs, or Pactus Improvement Proposals, define standards and guidelines to
  improve the Pactus project.
  PIPs are designed to be a transparent and collaborative way to propose and
  discuss changes to the Pactus network.
url: "https://pips.pactus.org"
baseurl: ""
github_username:  pactus-project
repository: pactus-project/PIPs

header_pages:
 - core.html
 - network.html
 - interface.html
 - informational.html

highlighter: rouge
markdown: kramdown
theme: minima
kramdown:
  parse_block_html: false
  auto_ids: true
  auto_id_stripping: true
  syntax_highlighter: rouge

permalink: /:slug

defaults:
  -
    scope:
      path: "PIPs"
    values:
      layout: "pip"

exclude:
  - .github
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - pip-template.md
  - ISSUE_TEMPLATE.md
  - PULL_REQUEST_TEMPLATE.md
  - README.md

include:
  - LICENSE

markdown_ext: "markdown,mkdown,mkdn,mkd,md"
