<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Pactus Improvement Proposals</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Pactus Improvement Proposals</li>
  </ul>
        </div>
  
        <div class="footer-col footer-col-2">
  <ul class="social-media-list"><li><a href="https://github.com/pactus-project/PIPs"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">Pactus/PIPs</span></a></li></ul>
 

</div>
  
        <div class="footer-col footer-col-3">
            <form action="/search.html" method="get">
                <input type="text" id="search-box" name="query">
                <input type="submit" value="search">
              </form>
              <p></p>
          <p>PIPs, or Pactus Improvement Proposals, define standards and guidelines to improve the Pactus project. PIPs are designed to be a transparent and collaborative way to propose and discuss changes to the Pactus network.</p>
        </div>
      </div>
  
    </div>
  
  </footer>