{% assign statuses = page.statuses | default: site.data.statuses %}

{% for status in statuses %}
  {% assign pips = include.pips | where: "status", status | sort: "pip" | reverse %}
  {% assign count = pips | size %}
  {% if count > 0 %}
    <h2 id="{{ status | slugify }}">{{ status }}</h2>
    <table class="piptable ">
      <thead>
        <tr>
          <th>No</th>
          <th style="width:50%">Title</th>
          <th>Category</th>
          <th>Author</th>
        </tr>
      </thead>
      {% for page in pips %}
        <tr>
          <td><a href="{{ page.url | relative_url }}">{{ page.pip | xml_escape }}</a></td>
          <td>{{ page.title | xml_escape }}</td>
          <td>{{ page.category | default: "-" }}</td>
          <td>{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
